@import "../base/typography";
@import "../utils/colors";
@import "../utils/mixins";
@import "../utils/variables";

.aside {
  width: 350px;
  height: 700px;
  position: fixed;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start,
    $gap: 1em
  );
  background-color: $grey;
  padding: 10px 20px;
  border-right: 0.5px solid $dark;

  &__addFolder {
    width: 100%;
    font-size: 16px;
    @include flexbox($justify: flex-start, $items: center, $gap: 1em);

    &__input {
      padding: 10px;
      border: 1px solid $dark;
      outline: none;
      border-radius: 0.5rem;
    }

    &__btn {
      padding: 10px 20px;
      background-color: $green;
      border: none;
      outline: none;
      color: $white;
      border-radius: 0.5rem;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }

  &__folderContainer {
    border-top: 1px solid $dark;
    width: 100%;
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start,
      $gap: 1em
    );
    padding: 30px 0;
    height: 100%;
    overflow-y: scroll;
  }

  &__folderContainer::-webkit-scrollbar {
    display: none;
  }
}
