$breakpoint-xs: 200px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$box-shadow: 2px 1px 14px -2px #000;
$box-shadow2: 2px 1px 14px -2px #bbb;
