@import "../base/typography";
@import "../utils/colors";
@import "../utils/mixins";
@import "../utils/variables";

.aside__folder__container {
  @include flexbox($justify: space-between, $items: center);
  width: 100%;

  &__item {
    @include flexbox($justify: flex-start, $items: center, $gap: 1em);
    width: 100%;
    padding: 5px 10px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      background-color: $grey2;
    }

    &__img {
      width: 30px;
      height: auto;
    }

    &__text {
      font-size: 18px;
      color: $blue;
    }
  }

  &__deleteBtn {
    display: none;
    margin-left: auto;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;

    &:hover {
      background-color: $red;
      border-radius: 0.5rem;
    }

    &__img {
      width: 15px;
      height: auto;
    }
  }

  &:hover {
    .aside__folder__container__deleteBtn {
      display: block;
    }
  }
}

.folderItem__no {
  font-size: 17px;
  text-align: center;
  width: 100%;
}
