@import "../base/typography";
@import "../utils/colors";
@import "../utils/mixins";
@import "../utils/variables";

.aside__folderContainer__item {
  @include flexbox($justify: flex-start, $items: center, $gap: 1em);
  width: 100%;
  padding: 5px 10px;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
    background-color: $grey2;
  }

  &__img {
    width: 30px;
    height: auto;
  }

  &__text {
    font-size: 18px;
    color: $blue;
  }
}
